<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MainSoapBinding" sendTimeout="04:00:00" maxReceivedMessageSize="99999999">
                  <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
          <customBinding>
            <binding name="WSASOAP11" sendTimeout="04:00:00">
              <textMessageEncoding messageVersion="Soap11WSAddressing10">
                <readerQuotas maxBytesPerRead="999999" />
              </textMessageEncoding>
              <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport"
                securityHeaderLayout="Strict" includeTimestamp="false" allowInsecureTransport="true"
                messageProtectionOrder="SignBeforeEncryptAndEncryptSignature"
                messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                <secureConversationBootstrap includeTimestamp="false" />
                <localServiceSettings reconnectTransportOnFailure="true" />
              </security>
              <httpsTransport maxReceivedMessageSize="999999999" />
            </binding>

            <binding name="WSASOAP12" sendTimeout="04:00:00">
              <textMessageEncoding messageVersion="Soap11WSAddressing10">
                <readerQuotas maxBytesPerRead="999999"/>
              </textMessageEncoding>
              <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport" securityHeaderLayout="Strict" includeTimestamp="false" allowInsecureTransport="true" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                <secureConversationBootstrap includeTimestamp="false"/>
                <localServiceSettings reconnectTransportOnFailure="true"/>
              </security>
              <httpsTransport maxReceivedMessageSize="999999999" />
            </binding>

          </customBinding>
        </bindings>
        <client>
          <endpoint address="https://test-tbisws.e-nettet.dk/TBISWS/Main" binding="basicHttpBinding" bindingConfiguration="MainSoapBinding" contract="ServiceReferenceTBIS.Main" name="Main"/>
          <endpoint address="https://e-vurderingspakke.e-nettet.dk/efpi/prismodel/PrisModel.URS" binding="customBinding" bindingConfiguration="WSASOAP11" contract="ServiceReferenceEVurdering.PrisModelURS" name="Main"/>
        </client>
    </system.serviceModel>
</configuration>
